{% set header = craft.entries.section('header').first() %}

<header class="masthead">
    <div class="container">
        <div class="intro-text">
            <div class="intro-lead-in">{{ header.headerTagline }}</div>
            <div class="intro-heading text-uppercase">
                {{ header.headerTitle }}
            </div>

            {% for button in header.headerButton %}
                <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" href="{{ button.buttonLink }}">
                    {{ button.buttonTitle }}
                </a>
            {% endfor %}
        </div>
    </div>
</header>
