<div class="row">
    <div class="col-lg-12 text-center">
        <h2 class="section-heading text-uppercase">{{ item.title }}</h2>
        <h3 class="section-subheading text-muted">{{ item.subtitle }}</h3>
    </div>
</div>

<div class="row">
    {% for matrixBlock in item.contentMatrix.all() %}
        <div class="col-sm-{{ 12 / item.contentMatrix.count() }}">
            <div class="team-member">
                <img class="mx-auto rounded-circle" src="{{ matrixBlock.teamProfilePicture }}" alt="{{ matrixBlock.teamName }}">
                <h4>{{ matrixBlock.teamName }}</h4>
                <p class="text-muted">{{ matrixBlock.teamPosition }}</p>

                {% set socialMedia = matrixBlock.teamSocialMedia[0] %}
                <ul class="list-inline social-buttons">
                    {% if socialMedia.twitter %}
                        <li class="list-inline-item">
                            <a href="{{ socialMedia.twitter }}" target="_blank">
                                <i class="fa fa-twitter"></i>
                            </a>
                        </li>
                    {% endif %}
                    {% if socialMedia.facebook %}
                        <li class="list-inline-item">
                            <a href="{{ socialMedia.facebook }}" target="_blank">
                                <i class="fa fa-facebook"></i>
                            </a>
                        </li>
                    {% endif %}
                    {% if socialMedia.linkedin %}
                        <li class="list-inline-item">
                            <a href="{{ socialMedia.linkedin }}" target="_blank">
                                <i class="fa fa-linkedin"></i>
                            </a>
                        </li>
                    {% endif %}
                    {% if socialMedia.google %}
                        <li class="list-inline-item">
                            <a href="{{ socialMedia.google }}" target="_blank">
                                <i class="fa fa-google"></i>
                            </a>
                        </li>
                    {% endif %}
                    {% if socialMedia.xing %}
                        <li class="list-inline-item">
                            <a href="{{ socialMedia.xing }}" target="_blank">
                                <i class="fa fa-xing"></i>
                            </a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    {% endfor %}
</div>

{% if item.text %}
    <div class="row">
        <div class="col-lg-8 mx-auto text-center">
            <p class="large text-muted">{{ item.text }}</p>
        </div>
    </div>
{% endif %}