<div class="row">
    <div class="col-lg-12 text-center">
        <h2 class="section-heading text-uppercase">{{ item.title }}</h2>
        <h3 class="section-subheading text-muted">{{ item.subtitle }}</h3>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <ul class="timeline">
            {% for matrixBlock in item.about.all() %}
                <li{% if loop.index % 2 == 0 %} class="timeline-inverted"{% endif %}>
                    <div class="timeline-image">
                        {% if matrixBlock.type.handle == 'final' %}
                            {{ matrixBlock.finalContent }}
                        {% else %}
                            <img
                                class="rounded-circle img-fluid"
                                src="{{ matrixBlock.aboutImage.one().storyImage.url() }}"
                                alt="{{ matrixBlock.aboutTitle }}">
                        {% endif  %}
                    </div>
                    {% if matrixBlock.type.handle == 'about' %}
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>{{ matrixBlock.aboutDate }}</h4>
                                <h4 class="subheading">{{ matrixBlock.aboutTitle }}</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">{{ matrixBlock.aboutDescription }}</p>
                            </div>
                        </div>
                    {% endif  %}
                </li>
            {% endfor %}
        </ul>
    </div>
</div>