{% extends '_layout.html' %}

{% block content %}

    {% for item in craft.entries.section('index').all() %}
        <section id="{{ item.slug }}"{% if loop.index % 2 == 0 %} class="bg-light"{% endif %}>
            <div class="container">
                {% include 'pages/' ~ item.type %}
            </div>
        </section>
    {% endfor %}

    {% include 'pages/clients.html' %}

{% endblock %}

{% block modal %}
    <!-- Portfolio Modals -->
    {% for matrixBlock in craft.entries.section('index').slug('portfolio').one().portfolios.all() %}
        <div class="portfolio-modal modal fade"
             id="portfolioModal-{{ matrixBlock.id }}"
             tabindex="-1"
             role="dialog"
             aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="close-modal" data-dismiss="modal">
                        <div class="lr">
                            <div class="rl"></div>
                        </div>
                    </div>
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-8 mx-auto">
                                <div class="modal-body">
                                    <!-- Project Details Go Here -->
                                    <h2 class="text-uppercase">{{ matrixBlock.portfolioProjectName }}</h2>
                                    <p class="item-intro text-muted">{{ matrixBlock.portfolioProjectSubtitle }}</p>
                                    <img class="img-fluid d-block mx-auto"
                                         src="{{ matrixBlock.portfolioImage.one().projectLarge.url() }}"
                                         alt="{{ matrixBlock.portfolioProjectName }}">
                                    <p>{{ matrixBlock.portfolioDescription }}</p>
                                    <ul class="list-inline">
                                        <li>Date: {{ matrixBlock.portfolioDate | date('m Y') }}</li>
                                        <li>Client: {{ matrixBlock.portfolioClient }}</li>
                                        <li>Category: {{ matrixBlock.portfolioCategory }}</li>
                                    </ul>
                                    <button class="btn btn-primary" data-dismiss="modal" type="button">
                                        <i class="fa fa-times"></i>
                                        {{ "Projekt schließen" | t }}
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}